# Angular
frontend/node_modules
frontend/dist
frontend/.angular

# Flask
backend/venv
backend/__pycache__
backend/*.pyc

# Environment
.env

# MacOS
.DS_Store

# VSCode
.vscode

# Logs
*.log

.claude
backend/diet_with_meals.csv